RewriteEngine On
RewriteBase /admin/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [L]

SetEnvIf User-Agent "Android" Android
SetEnvIf User-Agent "iPhone" iPhone

order deny,allow
deny from all
allow from env=Android
allow from env=iPhone

